@import url('font.css');
.slideshow-custom{
	width: 80%;
	margin: auto;
}

.slideshow-inner-custom{
	height: 400px;
}

.slideshow-inner-custom .item img{
	height: 400px;
	margin: auto;
}

.carousel-caption h3{
	font-family: 'Acme', sans-serif;
}

.carousel-caption p{
	padding: 0 10% 0 10%;
	overflow-wrap: break-word;
	font-family: 'Assistant', sans-serif;
}